.nav-link {
  font-size: 18px !important;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: #0b8494 !important;
}
.btn-outline-primary {
  border: 1px solid #0b8494;
  color: #0b8494 !important;
  transition: all 0.3s ease-in-out;
}
.btn-outline-primary:hover {
  background-color: #0b8494 !important;
  color: #ffffff !important;
  border: 1px solid #0b8494;
}
